<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Noctweave Pairing Invitation</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.noctweave.pairing-invitation</string>
			</array>
		</dict>
	</array>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Noctweave Pairing Invitation</string>
			<key>UTTypeIdentifier</key>
			<string>org.noctweave.pairing-invitation</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>noctpair</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Noctweave Group Exchange</string>
			<key>UTTypeIdentifier</key>
			<string>org.noctweave.group-exchange</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>noctgroup</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>NFCReaderUsageDescription</key>
	<string>Use your security key to unlock Noctweave.</string>
	<key>com.apple.developer.nfc.readersession.iso7816.select-identifiers</key>
	<array>
		<string>A0000006472F0001</string>
	</array>
	<key>AppSupportTipProductIDs</key>
	<array>
		<string>com.luizwidmer.noctweave.tip.small</string>
		<string>com.luizwidmer.noctweave.tip.medium</string>
		<string>com.luizwidmer.noctweave.tip.large</string>
	</array>
	<key>CFBundleDisplayName</key>
	<string>Noctweave</string>
	<key>AppSupportAppleID</key>
	<string>6809914725</string>
	<key>AppSupportURL</key>
	<string>https://luizwidmer.com/</string>
	<key>AppSupportPrivacyPolicyURL</key>
	<string>https://luizwidmer.com/noctweave-privacy-policy/</string>
</dict>
</plist>
